<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<Title>     
Add the Background image using Internal Style sheet  
</Title> 
<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> 
<style>  
body {
  background-color: #d5f4e6;
} 
</style>  
</Head>  
<Body> 
<strong>ABOUT AAKASH</strong><br>

Aakash - an established name in JEE and NEET preparation, has been guiding students to success since 1988. With a legacy of over 32 years, 200+ centers across India, 2200+ expert faculty and 2.5 lakh+ happy students, Aakash is well known for its comprehensive, result-oriented JEE and NEET preparation programs. BYJU’S - India’s largest ed-tech company and a world leader in technology based learning solutions, now joins hands with Aakash, to give you an unmatched learning experience with an unbeatable edge. With BYJU’S sharing our values and vision, we are excited to continue our efforts in improving our existing offering to students, by leveraging our strengths and delivering increased value and working in the direction of launching innovative products and courses. Our core objective continues to be to help you succeed and to bring you a learning experience that helps you achieve your academic goals.

Aakash Educational Services Limited (AESL) is a leading educational institution in India that provides comprehensive test preparatory services to students preparing for medical and engineering entrance exams, school/board exams, KVPY, NTSE, Olympiads and other Foundation level exams.
The first centre under ‘Aakash’ was started in 1988 by Mr JC Chaudhry, offering coaching services for medical entrance examinations. Today, we are highly acknowledged for offering niche test preparatory services for medical as well as engineering entrance exams and foundation level exams through our distinct verticals namely, Aakash Medical, Aakash IIT-JEE and Aakash Foundations. We have a pan-India network of 200+ Aakash Centres and a Student Count of more than 250,000.
<br>
<strong>AAKASH MEDICAL </strong><br>

For more than 31 years, Aakash Medical has been nurturing the aspirations of students who dream about a career in medicine. Every year our students achieve top ranks and display excellent results in various medical entrance examinations such as NEET, AIIMS* and JIPMER*. For the last six years, our students have been securing All India Rank 1 in various medical entrance exams. Started as a single centre with just 12 students, today Aakash Institute is ranked as the No. 1 Coaching Institute among Top 25 Best Coaching Institutes in the country for preparation of medical entrance exams by India Today Magazine.
<br>
<strong>AAKASH IIT-JEE</strong><br>
Started in 2007, Aakash IIT-JEE prepares students for JEE (Main & Advanced) and other engineering entrance examinations. Through its integrated teaching methodology, focused learning environment and technology enabled-education, Aakash IIT-JEE provides cutting-edge educational solutions that help students to excel in their goals. Every year our students achieve top ranks and display excellent results in all the engineering entrance exams. Students aspiring to succeed in engineering entrance exams can trust Aakash IIT-JEE for quality and result-oriented test preparation.
<br>
<strong>AAKASH FOUNDATION</strong><br>
To nurture the aspirations of junior class students for various competitive and scholarship examinations such as NTSE, Olympiads, etc. and prepare them for school/board examinations, Aakash Foundations became functional in the year 2009. It is also the youngest division of AESL. Thanks to its innovative teaching methodologies, it has been constantly bearing the fruits of success and steering its students to the top echelons in School/Board as well as Foundation Level Competitive and Scholarship Exams. In addition, it lays a strong foundation for medical, engineering and other competitive examinations in advance.

<br>
<strong>PROGRAM AND SERVICES</strong><br>
We provide our services through classroom, digital and distance learning programs. Our Classroom Learning Programs ensure personalized attention and aim at developing the conceptual knowledge of our students. Our Digital Programs allow students to engage in self-paced learning and are quite popular among the tech-savvy generation. Our Distance Learning Programs (DLP) deliver the same content as delivered in classrooms in a cost-effective way and help students to study at their own pace and convenience. We also offer Short Term Classroom Courses for students who wish to brush up their knowledge just before the exams and gain an extra edge.
We, at Aakash, always keep ‘Student First’ and strive hard to continue to meet the needs of our students.<br> Our emphasis on maintaining the highest standards of teaching, result-oriented test preparation, healthy competitive environment, and expert faculty has helped us garner the trust of millions of students and parents.

AESL has been backed by global investment management firm Blackstone who have made minority investment in the company. Blackstone will complement AESL team with its deep expertise and network in the education sector globally with its team of highly accomplished professionals with a proven track record of creating value.

</Body>
<Body>
<form action="/home" method="post"> <button class="btn-style btn-primary" href="/intro" aria-orientation="center">Back To Homepage</button> </form></Body>
  
</body>
</Html>  