<div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">Our Courses</h1>
               <p class="text-center sub-heading">grow your Knowledge with us</p>
               <div class="row">
                   <div class="col-md-4">
                       <a href="/react">
                       <div class="our-services settings">
                           <div class="icon">
                               <img src="images/react.jpg" alt=""  >
                           </div>  
                               <h4>React</h4>
                               </a>
                           

                       </div>

                   </div>
                   <div class="col-md-4">
                        <a href="/angular">
                       <div class="our-services backups">
                           <div class="icon">
                               <img src="images/angular.jpg" alt="">
                           </div>  
                               <h4>Angular</h4>
                               <p></p>
                           </a>

                       </div>

                   </div><div class="col-md-4">
                       <a href="/javascript">
                       <div class="our-services database">
                           <div class="icon">
                               <img src="images/javascript.jpg" alt="">
                           </div>  
                               <h4>Javascript</h4>
                               <p></p>
                           
                           
                       </div>
                       </a>

                   </div><div class="col-md-4">
                         <a href="/python">
                       <div class="our-services ssl">
                           <div class="icon">
                               <img src="images/python.jpg" alt="">
                           </div>  
                               <h4>Python</h4>
                               <p></p>
                           

                       </div>
                       </a>>

                   </div><div class="col-md-4">
                       <a href="/java">
                       <div class="our-services backups">
                           <div class="icon">
                               <img src="images/java.jpg" alt="">
                           </div>  
                               <h4>Java</h4>
                               <p></p>
                           

                       </div>
                       </a>

                   </div><div class="col-md-4">
                       <a href="/math">
                       <div class="our-services privacy">

                           <div class="icon">
                               <img src="images/commerce.jpg" alt="">
                           </div>  
                               <h4>Commerce</h4>
                               <p></p>
                           

                       </div>
                       </a>

                   </div>
            </div>
        </div>
    </div>
</div>
